<div class="container d-fex">
  <div class="card f-1" style="width: 18rem">
    <div class="card-body">
      <h5 class="card-title">Albums</h5>
      <div class="d-flex f-center">
        <input
          class="form-control mr-2"
          placeholder=""
          type="text"
          name="searchValue"
          value="{{ searchValue }}"
          (input)="filterAlbum($event)"
        />
        <button
          class="btn btn-primary btn-md m-2"
          (click)="onNavigateClick('prev')"
          [disabled]="albumResult.previousPage == null"
          type="button"
        >
          Previous
        </button>
        <button
          class="btn btn-primary btn-md m-2"
          (click)="onNavigateClick('next')"
          type="button"
          [disabled]="albumResult.nextPage == null"
        >
          Next
        </button>
      </div>
      <app-albums [albumList]="albumList"></app-albums>

      <ngx-spinner
        bdColor="rgba(0, 0, 0, 0.8)"
        size="medium"
        color="#5CC4BE"
        type="ball-pulse"
        [fullScreen]="true"
      >
        <p style="color: white">Loading...</p>
      </ngx-spinner>
    </div>
  </div>
</div>
