/* You can add global styles to this file, and also import other style files */

.pointer {
  cursor: pointer;
}

.hover_highlight:hover {
  color: lightseagreen !important;
}

.show {
  display: block !important;
}

.d-fex {
  display: flex;
}

.f-1 {
  flex: 1;
}

.f-center {
  justify-content: center;
  align-items: center;
}
